@charset 'utf-8';
@import url('common.css');
/* cart.css */


.cart_wrap{
    width: 100%;
    padding: 75px 10% 0;
    margin: 0 auto;
    border-top: 1px solid #999;

}
.location{
    font-weight: 200;
    border-bottom: 1px solid #999;
    padding: 15px 0;
}
.location:nth-of-type(2) {
    text-align: center;
    padding-bottom: 100px;
}
h2{
    text-align: center;
    padding: 80px 0 20px;
}


table{
    text-align: center;
}

th{padding: 10px 5px 15px;}

.tb-num{ 
    width: 80px;
}
.tb-thumb{width: 400px;}
.tb-name{width: 500px;}
.tb-ea{width: 50px;}
.tb-point{width: 150px;}
.tb-price{width: 150px;}
.tb-shipfee{width: 150px;}
.tb-buttons{width: 200px;}

td{
    padding: 15px 5px 30px;
    height: 300px;
    border-bottom: 1px solid #999;
    font-weight: 200;
}
input[type=button]{
    width: 140px; height: 36px;
    margin: 2px;
    border: none;
    font-weight: 200;
}
input[type=button]:nth-of-type(1){
    background: black;
    color: white;
}
input[type=button]:nth-of-type(2){
    background: white;
    color: black;
    border: 1px solid black;
}

.cart_prod_img{
    width: 400px;
    padding: 0 50px;
}
.cart_prod_img > img{ width: 100%;}

.cart_info{
    width: 100%;
    padding: 40px 10% ;
}
.cart_info > p{
    font-weight: 200; 
    font-size: 1rem; line-height: 1.5rem;
}