@charset "utf-8";
@import url(common.css);
/* showroom.css */

.color1
{font-size: 3rem; line-height: 3rem;
    color: rgb(0, 65, 0);
}
.color2 {
    font-size: 3rem;
    color:#666; 
}
.color3 {
    font-size: 1.2rem;
    line-height: 4rem;
}
.color4 {
    line-height: 1.7rem;
    font-weight: 500;
    padding-bottom: 2%;
}
.color5 {
    font-size: 3rem; line-height: 3rem;
    color: rgb(10, 141, 10);
}

.showroom_top{
    width: 100%;
    padding-top: 5% ;
    position: relative;
}
.showroom_top > img {
    width: 100%;
}
.top_txt { 
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: white;
    text-shadow: 1px 1px 2px gray;
}

.showroom {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0 5%;
}
.showroom_title{
    text-align: center;
}


.showroom_table{
}


.map_guide {
    border-collapse:collapse;
    width: 100%;
        position:relative;


}
.the_place {
    width: 80%;
    margin: 0 10% 5%;
    border-top: 1px #333 solid;
    position:relative;

}

.the_place > li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    border-bottom: 1px solid #999;
}
.the_place > li > b{
    width: 10%;
    padding: 0 5% 0 0;
    font-weight: 900;
    border: #333 2px solid;
}
.the_place > li > p{
    font-weight: 300;
    width: 80%;
    padding: 0 5%;
    line-height: 1.5rem;
    border: springgreen 2px solid;
}

.arrow {
    border: plum 3px solid;
    width: 5%; height: 50px;
    
}

.arrow > span{
    width: 45px; height:2px;
    background-color:rgb(0, 65, 0);
}
.arrow span:nth-child(1){
    transform: rotate(45deg);
    top: calc(30%)
}
.arrow span:nth-child(2){
    transform: rotate(-45deg);
    top: calc(30%);
    left: calc(40%);
}

.arrow:active span:nth-child(1){
    transform: rotate(-45deg);
}
.arrow:active span:nth-child(2){
    transform: rotate(45deg);
} 





.hidden_map {
    display: none;
    width: 75%;
    margin-left: auto;
    padding: 2% 0 5% 0;
    background: #333;
    height: 800px;
}

.hidden_map > img{
    width: 100%;
}
